@media screen and (max-width: 1023px) {

html {
    font-size: calc( 1.5vw + 1.5vh );
}

#right {
	float: unset;
	padding: 0.5rem;
	width: 100%;
}

#right h1 {
	margin: 0 0 0.5rem 0;
}

#left {
	float: unset;
	padding: 0 0.5rem 0.5rem 0.5rem;
	width: 100%;
}




#news {
	display: none;
}




#graph_chart {
	margin: 0.5rem 0 0 0;
	height: 40vw;
}

#graphPanel .buttons {
	display: none;
}

#graphPanel .buttons.mobile {
	text-align: right;
	padding: 0 1em 0 0;
	display: flex;
	justify-content: end;
  margin: 0 0 0.5rem 0;
}

#graphPanel .mobile .mapButton {
	color: rgb(68, 68, 68);
	background-color: rgb(9, 9, 9);
	padding: 0.25rem 0.25rem 0 0.25rem;
	line-height: 1.5;
	margin: 0 0.25em;
	border-radius: 0 0 0.25rem 0.25rem;
	box-shadow: 0 0 0.25em rgb(0, 0, 0);
	cursor: pointer;
	opacity: 1;
	font-size: 0.6rem;
	display: inline-block;
}

#graphPanel .mobile .mapButton.active {
	color: rgb(41, 182, 246);
	background-color: rgb(24, 24, 24);
}




#mapPanel .mapButton, #mapPanel .mapView{
	font-size: 0.6rem;
}




#data_column .data_row {
	margin: 0 0 0.5rem 0;
}

#data_column .data_box2 {
	margin: 0 0.5rem 0 0;
}




#disclaimer {
	font-size: 0.5rem !important;
}




#areas {
	padding: 0 0.25em;
	margin: 0;
}




#countries {
	font-size: 1.25em;
}

#countries .heading > div {
	line-height: 3;
}

#countries .heading .newcases{
  display: none;
}

#countries .heading .newrecovered{
  display: none;
}

#countries .heading .newdeaths{
  display: none;
}

#countries .newcases {
	display: none !important;
}

#countries .newrecovered {
	display: none !important;
}

#countries .newdeaths {
	display: none !important;
}

#countries .country div p:nth-child(2) {
	font-size: 0.8em;
	display: inline-block;
	padding: 0 1em;
	border-radius: 0.25em;
}




#pickLanguageWrap {
	position: fixed;
	bottom: 3rem;
	right: 1rem;
	border-radius: 500px;
	box-shadow: 0 0 0.25rem rgb(0, 0, 0), 0 0 0.25rem rgb(0, 0, 0);
	top: unset;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
}

#pickLanguage {
	background-color: rgb(41, 182, 246);
	color: #222;
	font-size: 0.75rem;
	line-height: 2;
	font-weight: 900;
}




#languages {
	position: fixed;
	top: unset;
	bottom: 3rem;
	right: 3rem;
}

}
